<div class="users-container">
    <div class="header-section">
        <h2>Users</h2>
        <p-button icon="pi pi-plus" label="Create User" (onClick)="onCreateUser()"></p-button>
    </div>

    <div class="table-container">
        <p-table [value]="users()" [tableStyle]="{ 'min-width': '60rem' }">
            <ng-template #header>
                <tr>
                    <th>Employee No</th>
                    <th>Name</th>
                    <th>Admin</th>
                </tr>
            </ng-template>
            <ng-template #body let-user>
                <tr>
                    <td>{{ user.empNo }}</td>
                    <td>{{ user.name }}</td>
                    <td>
                        @if (user.isAdmin) {
                        <p-chip label="Admin" icon="pi pi-shield" severity="success"></p-chip>
                        } @else {
                        <p-chip label="SCS User" icon="pi pi-user" severity="info"></p-chip>
                        }
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- Create User Modal -->
    <p-dialog header="Create New User" [(visible)]="showCreateModal" [modal]="true" [style]="{width: '450px'}"
        [closable]="true" (onHide)="closeModal()">

        <form (ngSubmit)="onSaveUser()" #userForm="ngForm">
            <div class="form-group">
                <label for="empNo">Employee No:</label>
                <input type="text" id="empNo" name="empNo" pInputText [(ngModel)]="newUser.empNo" required
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" pInputText [(ngModel)]="newUser.name" required
                    class="form-control">
            </div>

            <div class="form-group">
                <div class="checkbox-group">
                    <p-checkbox [(ngModel)]="newUser.isAdmin" [ngModelOptions]="{standalone: true}" inputId="isAdmin"
                        [binary]="true">
                    </p-checkbox>
                    <label for="isAdmin" class="checkbox-label">Is Admin</label>
                </div>
            </div>

            <div class="modal-footer">
                <p-button label="Cancel" icon="pi pi-times" (onClick)="closeModal()" [text]="true">
                </p-button>
                <p-button label="Save" icon="pi pi-check" type="submit" [disabled]="!userForm.form.valid">
                </p-button>
            </div>
        </form>
    </p-dialog>
</div>