<div class="premise-container">
    <h2>Premise {{premiseId}}</h2>
    <div style="display: flex; gap: 10px;">
        <div class="icon-container">
            <p-overlaybadge severity="danger" [value]="alertCount()">
                <i class="pi pi-bell" style="font-size: 1.5rem;"></i>
            </p-overlaybadge>
        </div>
        <p-chip label="{{ isConnected() ? 'Connected' : 'Not Connected' }}"
            icon="pi pi-circle-fill {{isConnected() ? 'connected' : 'not-connected'}}">
        </p-chip>
    </div>
</div>

<!-- 2x2 Video Grid -->
<div class="video-grid">
    <div class="video-item">
        <div class="video-content">
            <app-streaming-player></app-streaming-player>
        </div>
    </div>
    <div class="video-item">
        <div class="video-content">
            <app-streaming-player></app-streaming-player>
        </div>
    </div>
    <div class="video-item">
        <div class="video-content">
            <app-streaming-player></app-streaming-player>
        </div>
    </div>
    <div class="video-item">
        <div class="video-content">
            <app-streaming-player></app-streaming-player>
        </div>
    </div>
</div>