<div class="premise-container">
    <h2>Premise {{premiseId}}</h2>
    <div style="display: flex; gap: 10px;">
        <div class="icon-container">
            <p-overlaybadge severity="danger" [value]="alertCount()">
                <i class="pi pi-bell" style="font-size: 1.5rem;"></i>
            </p-overlaybadge>
        </div>
        <p-chip label="{{ isConnected() ? 'Connected' : 'Not Connected' }}"
            icon="pi pi-circle-fill {{isConnected() ? 'connected' : 'not-connected'}}">
        </p-chip>
    </div>
</div>

<!-- 2x2 Video Grid -->
<div class="video-grid">
    <div class="video-item">
        <div class="video-content">
            <app-streaming-player [id]="1"></app-streaming-player>
        </div>
    </div>
    <div class="video-item">
        <div class="video-content">
            <app-streaming-player [id]="2"></app-streaming-player>
        </div>
    </div>
    <div class="video-item">
        <div class="video-content">
            <app-streaming-player [id]="3"></app-streaming-player>
        </div>
    </div>
    <div class="video-item">
        <div class="video-content">
            <app-streaming-player [id]="4"></app-streaming-player>
        </div>
    </div>
</div>

<p-tabs [value]="0">
    <p-tablist>
        <p-tab [value]="0">Guard Duty</p-tab>
        <p-tab [value]="1">Alert</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel [value]="0">
            <app-dispath-security-guard [premiseId]="premiseId"></app-dispath-security-guard>
        </p-tabpanel>
        <p-tabpanel [value]="1">
            <app-alert-data-table [data]="alertData()"></app-alert-data-table>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>