<p-table [value]="data()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>File</th>
        </tr>
    </ng-template>
    <ng-template #body let-incident>
        <tr>
            <td>{{ incident.date | date:'short' }}</td>
            <td>{{ incident.description }}</td>
            <td>
                <a [href]="incident.filePath" target="_blank" class="file-link">
                    View File
                </a>
            </td>
        </tr>
    </ng-template>
</p-table>